.logo-container {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 45%;
  right: 5%;
  margin: auto;
  border-radius: 50px;

  .solid-logo {
    width: 75%;
    height: auto;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px;
  }
}
